@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Slabo+27px&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    line-height: 35px;
}
p{
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    max-width: 800px;
    margin: 0 auto;
}
/*container css area*/
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
}
/*container css area ends here*/

/*header css area here*/
#first-section{}
.full-width{
    margin: 30px;
}
.logo{ 
    float: left;
    width: 30%;
}
.logo h2{
    color: black;
    padding: 10px;
    font-size: 25px;
    text-transform: uppercase;
}
.logo a{
    text-decoration: none;
}
.menu-bar{
    float: right;
    margin-top: 13px;
    overflow: none;
}
.menu-bar ul{}
.menu-bar ul li{
    list-style: none;
    float: left;
    padding-left: 10px;
    padding-bottom: 35px;
}
.menu-bar ul li a{
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    background: #000000;
    color: #ffffff;
    text-transform: uppercase;
}
.menu-bar ul li a:hover{
    background: white;
    color: black;
    /* border: 1px solid #000000; */
}
/*header css area ends here*/

/*Secound section area*/
#secound-section{
    width: 100%;
    height: 100%;
    background: url(images/cover.jpg);
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: center;
}
.content{
    text-align: center;
    padding: 100px 0;
}
.content h2{
    text-transform: uppercase;
    font-size: 40px;
    color: #000000;
    margin-bottom: 40px;
    line-height: 50px;
}
.content p{
    padding: 20px 20px;

}
/*Secound section area ends here*/

/*third-section css area here*/
#third-section{
    height: 100%;
    padding: 20px;
    background-color: #E8E7E8;
    color: #000000;
}
.third-top{
    padding: 40px 0;
    text-align: center;
}
.third-top h2{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.third-top p{
    padding: 20px 0;
}
.third-content{}
.third-main-contenet{
    max-width: 33%;
    float: left;
    text-align: center;
}
.third-main-contenet img{
    border-radius: 20px;
}
.third-main-contenet h2{
    font-size: 35px;
    text-transform: uppercase;
    padding: 2px;
}
.third-main-contenet p{
    padding: 20px 10px;
}
/*third-section css area ends here*/


/*fourth-section area*/
 .fourth-section{
    height: 100%;
    background-color: #007ACC;
    color: #ffffff;
    padding: 20px;
 }
 .fourth-top{
    padding: 40px 0;
    text-align: center;
 }
 .fourth-top h2{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
 }
 .fourth-top p{
     padding-bottom: 40px;
 }
 .fourth{
     max-width: 25%;
     text-align: center;
     float: left;
     /* padding: 5px; */
 }
 .fourth img{
     border-radius: 10%;
     width: 50%;
 }
 .fourth h2{
     text-transform: uppercase;
     padding: 5px;
 }
 .fourth p{
 }
 /*fourth-section area ends here*/

 /*footer area here*/
 .footer-tag{
     background: #000000;
     color: #ffffff;
     padding: 20px;
     text-align: center;
 }
 /*footer area ends here*/